body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
.section-wrapper {
    width: 1400px;
    margin: 0px auto;
}
.logo {
    background-color: #c3c3c3;
    padding: 30px;
    margin: 50px 0px 20px 0px;
}
.logo h2 {
    color: black;
    text-align: center;
    font-size: 20px;
}
.header {
    background-color: #c3c3c3;
    padding: 60px;
    margin: 0px 0px 20px 0px;
}
.header h2 {
    color: black;
    text-align: center;
    font-size: 35px;
}
nav p {
    background-color: #c3c3c3;
    color: black;
    display: inline-block;
    text-align: center;
    margin: 0px 0px 20px 25px;
    padding: 15px;
    width: 298px;
}
nav p:first-child {
    margin-left: 0px;
}
.about {
    display: inline-block;
    vertical-align: top;
    background-color: #c3c3c3;
    margin: 0px 25px 0px 0px;
    width: 50%;
    height: 50%;
}
.about h2{
    color: black;
    text-align: center;
    padding: 80px;
}
.links { 
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 30px);
}
.link-1 {
    background-color: #c3c3c3;
    margin: 0px;
    color: black;
    text-align: center;
    padding: 30px;
    font-weight: normal;
    height: 95px;
}
.link-2 {
    background-color: #c3c3c3;
    margin: 25px 0px 0px 0px;
    color: black;
    text-align: center;
    padding: 50px;
    font-weight: normal;
    height: 127px;;
}
.copyright {
    background-color: #c3c3c3;
    margin-bottom: 50px;
}
.copyright h2 {
    color: black;
    text-align: center;
    padding: 50px;
}